.texte-intro {
    color: var(--light-purple);
    margin: var(--margin-1);
    width: auto;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--l);
}

.titre-vignette {
    text-decoration: none;
    color: var(--yellow);
    margin: var(--margin-1);
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--l);
    background-color: var(--light-purple);
    padding: var(--margin-2);
    padding-right: var(--margin-2);
    margin-bottom: 0;
    margin-top: 0;
    line-break: auto;
    display: block;
    line-height: normal;
    width: 251px;
}

.texte-desc {
    color: var(--light-purple);
    margin-left: var(--margin-1);
    width: 80%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--l);
    margin-bottom: 0;
    transform: translateY(-50px);
}

.home__vignette-sup {
    transform: translateY(-40px);
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--light-purple);
    display: flex;
    width: 85%;
    height: auto;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
}

.contact__label {
    font-family: "Lato", sans-serif;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--light-purple);
}

.contact__input {
    font-family: "Lato", sans-serif;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--black);
    width: 100%;
    height: 32px;
    margin-bottom: var(--margin-3);
    background-color: #C2B2D0;
    border: none;
    border-radius: 5px;
}

.contact__input4 {
    font-family: "Lato", sans-serif;
    font-size: var(--m);
    font-weight: 400;
    color: var(--black);
    width: 100%;
    height: 96px;
    margin-bottom: 0;
    background-color: #C2B2D0;
    border: none;
    border-radius: 5px;
}

.contact__submit-btn {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--l);
    color: var(--dark-purple);
    background-color: #94AF5E;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 32px;
    margin-bottom: var(--margin-1);
    border-radius: 5px;
    margin-top: var(--margin-2);
    margin-left: 30%;
    margin-right: 30%;
}

.contact__presentation-text {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.contact__presentation-link {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
}

.contact__form {
    display: block;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.films__vignette-tt {
    display: block;
    background-color: var(--light-purple);
    margin-bottom: var(--margin-1);
    width: 85%;
    margin-left: var(--margin-1);
    margin-top: 0;
}

.films__vignette-titre {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;
}

.films__vignette-txt {
    margin: 0;
    padding: 8px;
    color: var(--white);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.films__vignette-link,
h3 {
    color: var(--white);
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    color: var(--black);
    font-family: Lato;
    font-size: var(--s);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: var(--margin-1);
    margin-top: 0;
}

h2 {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 600;
    line-height: auto;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
    margin-bottom: var(--margin-3);
}

.articles__txt {
    margin-top: var(--margin-3);
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
}

h6 {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--s);
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
    margin-top: 0;
    margin-bottom: var(--margin-2);
}

cite {
    display: block;
    color: var(--light-purple);
    font-family: MonteCarlo;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
    width: 85%;
}

.erreur__logo {
    width: 48%;
    height: auto;
    display: block;
    margin-left: 26%;
    padding-top: 121px;
    margin-bottom: 50px;
}

.erreur__titre {
    color: var(--white);
    text-align: center;
    font-family: Playfair Display, serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 85%;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--margin-2);
    margin-bottom: auto;
    margin-top: 0;
}

.erreur__texte {
    color: var(--white);
    text-align: center;
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 85%;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--margin-1);
    margin-top: var(--margin-1);
}

.erreur__retour-accueil {
    text-decoration: none;
    display: block;
    background-color: var(--yellow);
    color: var(--dark-purple);
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    font-family: Lato;
    font-weight: 700;
    font-size: var(--xl);
    padding: var(--margin-2);
    padding-left: 12.4%;
    padding-right: 12.4%;
    width: fit-content;
    border-radius: 5px;
    margin-left: 16%;
}

.erreur {
    background-color: var(--dark-purple);
    padding-bottom: 100%;
}

.glossaire__titre {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
}

.glossaire__def {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
}