.texte-intro {
    color: var(--light-purple);
    margin: var(--margin-1);
    width: auto;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--l);
}

.titre-vignette {
    text-decoration: none;
    color: var(--yellow);
    margin: var(--margin-1);
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--l);
    background-color: var(--light-purple);
    padding: var(--margin-2);
    padding-right: var(--margin-2);
    margin-bottom: 0;
    margin-top: 0;
    line-break: auto;
    display: block;
    line-height: normal;
    width: 251px;
}

.texte-desc {
    color: var(--light-purple);
    margin-left: var(--margin-1);
    width: 80%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--l);
    margin-bottom: 0;
    transform: translateY(-50px);
}

.home__vignette-sup {
    transform: translateY(-40px);
}


h1 {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--light-purple);
    display: flex;
    width: 343px;
    height: auto;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: var(--margin-3);
    margin-left: var(--margin-1);
}

.contact__label {
    font-family: "Lato", sans-serif;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--light-purple);
}

.contact__input {
    font-family: "Lato", sans-serif;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--black);
    width: 100%;
    height: 32px;
    margin-bottom: var(--margin-3);
    background-color: #C2B2D0;
    border: none;
    border-radius: 5px;
}

.contact__input4 {
    font-family: "Lato", sans-serif;
    font-size: var(--m);
    font-weight: 400;
    color: var(--black);
    width: 100%;
    height: 96px;
    margin-bottom: 0;
    background-color: #C2B2D0;
    border: none;
    border-radius: 5px;
}

.contact__submit-btn {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--l);
    color: var(--dark-purple);
    background-color: #94AF5E;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 32px;
    margin-bottom: var(--margin-1);
    border-radius: 5px;
    margin-top: var(--margin-2);
    margin-left: 30%;
    margin-right: 30%;
}

.contact__presentation-text,
.contact__presentation-link {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.contact__form {
    display: block;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

