.main__margin {
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
}

.texte-intro {
    color: var(--light-purple);
    margin-top: var(--margin-1);
    margin-bottom: var(--margin-1);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--l);
}

.titre-vignette {
    text-decoration: none;
    color: var(--yellow);
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--l);
    background-color: var(--light-purple);
    padding: var(--margin-2);
    padding-right: var(--margin-2);
    margin-bottom: 0;
    margin-top: 0;
    line-break: auto;
    display: block;
    line-height: normal;
    width: 251px;
}

.texte-desc {
    color: var(--light-purple);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--l);
    margin-bottom: 0;
    transform: translateY(-50px);
}

.home__vignette-sup {
    transform: translateY(-40px);
}

.contact__label {
    font-family: "Lato", sans-serif;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--light-purple);
}

.contact__input {
    font-family: "Lato", sans-serif;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--black);
    width: 100%;
    height: 32px;
    margin-bottom: var(--margin-3);
    background-color: #C2B2D0;
    border: none;
    border-radius: 5px;
}

.contact__input4 {
    font-family: "Lato", sans-serif;
    font-size: var(--m);
    font-weight: 400;
    color: var(--black);
    width: 100%;
    height: 96px;
    margin-bottom: 0;
    background-color: #C2B2D0;
    border: none;
    border-radius: 5px;
}

.contact__submit-btn {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--l);
    color: var(--dark-purple);
    background-color: #94AF5E;
    border: none;
    cursor: pointer;
    width: 159px;
    height: 32px;
    margin-bottom: var(--margin-1);
    border-radius: 5px;
    margin-top: var(--margin-2);
}

.contact__presentation-text {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
}

.contact__presentation-link {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
}

.contact__form {
    display: block;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
}

.films__vignette-tt {
    display: block;
    background-color: var(--light-purple);
    margin-bottom: var(--margin-1);
    margin-top: 0;
}

.films__vignette-titre {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;
}

.films__vignette-txt {
    margin: 0;
    padding: 8px;
    color: var(--white);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.films__vignette-link,
.films__vignette-titre {
    color: var(--white);
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.articles__txt {
    margin-top: var(--margin-3);
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

cite {
    display: block;
    color: var(--light-purple);
    font-family: MonteCarlo;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.erreur__logo {
    width: 48%;
    height: auto;
    display: block;
    margin-left: 26%;
    padding-top: 121px;
    margin-bottom: 50px;
}

.erreur__titre {
    color: var(--white);
    text-align: center;
    font-family: Playfair Display, serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 85%;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--margin-2);
    margin-bottom: auto;
    margin-top: 0;
}

.erreur__texte {
    color: var(--white);
    text-align: center;
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    height: 84px;
    flex-direction: column;
    justify-content: center;
}

.erreur__retour-accueil {
    text-decoration: none;
    display: block;
    background-color: var(--yellow);
    color: var(--dark-purple);
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    font-family: Lato;
    font-weight: 700;
    font-size: var(--xl);
    padding: var(--margin-2);
    padding-left: 12.4%;
    padding-right: 12.4%;
    width: fit-content;
    border-radius: 5px;
    margin-left: 16%;
}

.erreur {
    background-color: var(--dark-purple);
    padding-bottom: 100%;
}

.glossaire__titre {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: var(--margin-3);
}

.glossaire__def {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.lien-hypertexte {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.carousel-wrapper {
    position: relative;
}

.carousel__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 10;
}

.carousel__button {
    width: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-purple);
    opacity: 70%;
    border: 2px solid var(--light-purple);
    cursor: pointer;
    pointer-events: auto;
    transition: background-color 0.3s ease;
}

.carousel__button:hover {
    background: rgba(194, 178, 208, 1);
}

.carousel__container {
    display: flex;
    gap: 0;
    overflow: scroll;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}

.carousel__container::-webkit-scrollbar {
    display: none;
}

.carousel__item {
    flex: 0 0 100%;
    scroll-snap-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.texte__caroussel {
    color: var(--yellow);
    font-family: "Playfair Display";
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: var(--light-purple);
    padding: var(--margin-2);
    margin-bottom: 50px;
    display: block;
    text-align: center;
    margin-top: 0;
}

.autres-projets__texte-intro {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--margin-1);
}

.autres-projets__vignette-titre {
    text-decoration: none;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--light-purple);
    display: flex;
    width: 85%;
    height: auto;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0;
}

h2 {
    color: var(--black);
    font-family: Lato;
    font-size: var(--s);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

h3 {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 600;
    line-height: auto;
    margin-bottom: var(--margin-3);
}

h4 {
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--s);
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    margin-top: 0;
    margin-bottom: var(--margin-2);
}

.film__link {
    display: block;
    color: var(--light-purple);
    font-family: Lato;
    font-size: var(--m);
    font-style: normal;
    font-weight: 400;
    margin-bottom: var(--margin-1);
}

.film_galerie-btn {
    display: block;
    background-color: var(--dark-purple);
    padding-top: var(--margin-2);
    padding-bottom: var(--margin-2);
    text-align: center;
    color: var(--white);
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.frise {
    position: relative;
    width: 92%;
    margin-left: var(--margin-3);
    margin-right: var(--margin-3);
    margin-bottom: var(--margin-1);
}

.frise>img {
    position: absolute;
    top: 0;
    left: 140px;
    transform: translateX(-500%);
    height: 101%;
    pointer-events: none;
    z-index: 0;
}

.frise__element {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: var(--margin-3);
    position: relative;
    z-index: 1;
}

.frise__element>img {
    width: 74px;
    height: 74px;
    margin-right: var(--margin-3);
}

.frise__contenu {
    width: 80%;
    font-family: "Lato", sans-serif;
    color: var(--light-purple);
}

h5, .h5 {
    margin: 0;
    font-size: var(--m);
    font-weight: 700;
    color: var(--light-purple);
}

h5 span {
    font-weight: 400;
    color: var(--light-purple);
}

.frise__contenu p {
    margin-top: 0;
    margin-bottom: var(--margin-2);
    font-size: var(--m);
    font-weight: 400;
    line-height: auto;
    color: var(--light-purple);
}