img,
video {
    max-width: 100%;
}

.home__img-hero,
.articles__img-hero {
    display: block;
}

.home__vignette-img {
    display: block;
    position: relative;
}

.films__vignette-img {
    height: auto;
    display: block;
    position: relative;
    margin-bottom: 0;
    margin-top: var(--margin-1);
}

.carousel__item img {
    display: block;
    height: auto;
}

.img__caroussel {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}