.home__img-hero,
.lise__img-hero {
    width: 100%;
    height: auto;
    display: block;
}

.home__vignette-img {
    width: 85%;
    height: auto;
    display: block;
    position: relative;
    margin-left: var(--margin-1);
}

.films__vignette-img {
    width: 85%;
    height: auto;
    display: block;
    position: relative;
    margin-left: var(--margin-1);
    margin-bottom: 0;
    margin-top: var(--margin-1);
}

.lise__img {
    width: 85%;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
}