.home__img-hero {
    width: 100%;
    height: auto;
    display: block;
}

.home__vignette-img {
    width: 85%;
    height: auto;
    display: block;
    position: relative;
    margin-left: var(--margin-1);
}