:root {
    --dark-purple: #250d38;
    --light-purple: #4b1c6f;
    --white: #f2f2f2;
    --yellow: #ffd700;
    --grey: #919191;
}

:root {
    --s: 0.875rem;          /* 14px */
    --m: 1rem;              /* 16px */
    --l: 1.25rem;           /* 20px */
    --xl: 1.5rem;            /* 24px */
    --xxl: 2rem;             /* 32px */
}

:root {
    --margin-1: 1.875rem;         /* 30px */
    --margin-2: 1.25rem;          /* 20px */
    --margin-3: 0.625rem;         /* 10px */
}

