.menu__header {
    background-color: var(--light-purple);
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;

    button {
        align-items: center;
        background-color: var(--light-purple);
        background: none;
        border: none;
        cursor: pointer;
        margin-right: var(--margin-2);
    }
}

.menu {
    background-color: var(--light-purple);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100%;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.langueMenu {
    margin-left: auto;
    margin-right: 15px;
}

.menu__logo {
    margin-left: var(--margin-2);
    margin-right: auto;
}

.menu.open {
    transform: translateY(0);
}


.menu__link {
    color: var(--white);
    text-decoration: none;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin-top: var(--margin-1);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
    font-family: Playfair Display, serif;
    font-size: var(--xxl);
    margin-bottom: 200px;
}

.menu__item {
    margin-bottom: 25px;
}

.clique {
    color: var(--grey);
}