@import "vendors/normalize.css";

@import "utils/variables.css";

@import "base/main.css";
@import "base/media.css";

@import "layout/header.css";
@import "layout/footer.css";

@import "components/header.css";
@import "components/footer.css";
@import "components/menu.css";